__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.log

.venv/
env/
venv/
ENV/
.venv.bak/

.coverage
htmlcov/
.tox/
.pytest_cache/

db.sqlite3
media/
staticfiles/
static/
celerybeat-schedule.db

.env
.env.*
*.env

*.sql
*.dump

backup.sql
*.bak

.idea/
.vscode/
.qodo/
*.sublime-workspace
*.sublime-project

*.pid
*.pid.lock

**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.pyo

.DS_Store
Thumbs.db

docs/
